<html>
  <body style="background-color:rgb(221, 8, 92)">
    <h1><%=@game.player_2.name%> attacked <%=@game.player_1.name%> </h1>
    <br>
  </body>
  <form action="/play" method="get">
    <div class="button">
      <button type="submit">Back to Battle</button>
    </div>
  </form>
</html>
